*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 70% !important;
    height: 70vh;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    form{
        height: 100%;
        padding: 35px 20px;
        color: grey;
        .big{
            display: flex;
        .inp{
            border: 1px solid grey;
            border-radius: 5px;
            height: 8vh !important;
            margin-top: 20px;
            input{
                border: none;
            }
        }
        #in{
            margin-right: 95px;
        }
    }
        button{
            margin-top: 8px;
            border: none;
            border-radius: 5px;
            background-color: rgb(11, 201, 128);
            color: white;
        }
    }
}